image: trion/ng-cli-karma

cache:
  paths:
    - node_modules/

build:
  stage: build
  script:
    - npm install
    - npm rebuild node-sass
    - npm run-script build
    - npm run-script docs

test:
  stage: test
  script:
    - npm test
    - npm e2e
  cache:
    policy: pull
