image: node:8.16.0-alpine

build:
  stage: build
  script:
    - npm install
    - npm rebuild node-sass
  cache:
    paths:
      - node_modules/
    policy: pull-push

.test:
  stage: test
  script:
    - ng test
    - ng e2e
  cache:
    paths:
      - node_modules/
    policy: pull

deploy:
  stage: deploy
  script:
    - npm run-script build
  cache:
    paths:
      - node_modules/
    policy: pull
  artifacts:
    paths:
      - dist/docs public
