mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  position: relative;
  z-index: 2;
}

#toolbar-left, #toolbar-left a {
  display: flex;
  align-items: center;
}

#logo {
  height: 64px;
}

#title {
  margin: 0 1em;
}

.shield {
  padding-right: 0.5em;
}

button {
  margin-left: 1em;
}

.icon {
  padding-right: 0.5em;
}

#fill {
  background-color: #303030;
  height: calc(100% - 64px);
}
