.example {
  padding-bottom: 1.5em;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.example-component {
  padding: 1em;
  border-radius: 0.25em;
  background-color: #343434;
}

mat-tab-group {
  padding-top: 1em;
}
