mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.shield {
  padding-right: 0.5em;
}

button {
  margin: 2px;
  font-weight: bold;
}

.icon {
  height: 2em;
  padding-right: 0.5em;
}
